{% extends "_layout.html.jinja" %}

{% block title %}/posts/{% endblock %}

{% block content %}
    <ul>
    {%- for post in posts|sort(attribute="date",reverse=True) %}
        <li>
            <time datetime="{{ post.date }}">{{ post.date }}</time>
            |
            <a href="{{ post.path | replace(".md", ".html") }}">{{ post.title }}</a>
        </li>
    {%- endfor %}
    </ul>
{% endblock %}
