{{ $image := .Page.Resources.GetMatch (.Destination) }}
{{ if $image }}
    {{ if gt $image.Width 1280 }}
        {{ $image = $image.Resize "1280x webp" }}
    {{ else }}
        {{ $image = $image.Resize (printf "%dx webp" $image.Width) }}
    {{ end }}
    <figure class="flex justify-center">
        <img 
            src="{{ $image.RelPermalink | safeURL }}" 
            {{ with .Text }} alt="{{ . }}" {{ end }} 
            {{ with .Title }} title="{{ . }}" {{ end }}
            width="{{ div $image.Width 2 | math.Round }}" 
            height="auto"
        />
        {{ with .Title}} <figcaption>{{ . | markdownify }}</figcaption> {{ end }}
    </figure>
{{ else }}
    <img src="{{ .Destination }}" {{ with .Text }} alt="{{ . }}" {{ end }} {{ with .Title }} title="{{ . }}" {{ end }}/>
{{ end }}
