{{ define "main" }}
    <article class="text-lg pt-6 pb-12 mb-32 px-5 md:px-0 md:mx-20 md:pt-12">
        <table class="table-auto m-auto">
            <thead>
                <tr class="text-gray text-md font-semibold text-left">
                    <th scope="col"></th>
                    <th scope="col" style="padding-top: .875rem; padding-bottom: .875rem; padding-left: .75rem; padding-right: .75rem;">Place</th>
                    <th scope="col" style="padding-top: .875rem; padding-bottom: .875rem; padding-left: .75rem; padding-right: .75rem;">Times</th>
                    <th scope="col" style="padding-top: .875rem; padding-bottom: .875rem; padding-left: .75rem; padding-right: .75rem;">Spent</th>
                </tr>
                {{- range $index, $row := .Site.Data.restaurants_and_cafes }}
                    <tr>
                        <td class="whitespace-nowrap px-2 md:px-3 py-4">{{ add $index 1 }}</td>
                        <td class="md:whitespace-nowrap px-2 md:px-3 py-4">{{ $row.payee }}</td>
                        <td class="whitespace-nowrap px-2 md:px-3 py-4">{{ $row.count }}</td>
                        <td class="whitespace-nowrap px-2 md:px-3 py-4">{{ $row.amount }} {{ $row.currency }}</td>
                    </tr>
                {{- end }}
            </thead>
        </table>
    </article>
{{ end }}
