{{ define "main" }}
    <article class="text-lg pt-6 pb-12 px-5 md:px-0 md:mx-20 md:pt-12">
        <table class="table-auto m-auto">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="px-3 py-3.5 text-md font-semibold" style="color: var(--color-gray); text-align: left;">Place</th>
                    <th scope="col" class="px-3 py-3.5 text-md font-semibold" style="color: var(--color-gray); text-align: left;">Times</th>
                    <th scope="col" class="px-3 py-3.5 text-md font-semibold" style="color: var(--color-gray); text-align: left;">Spent</th>
                </tr>
                {{- range $index, $row := .Site.Data.restaurants_and_cafes }}
                    <tr>
                        <td class="whitespace-nowrap px-2 md:px-3 py-4">{{ add $index 1 }}</td>
                        <td class="md:whitespace-nowrap px-2 md:px-3 md:py-4">{{ $row.payee }}</td>
                        <td class="whitespace-nowrap px-2 md:px-3 py-4">{{ $row.count }}</td>
                        <td class="whitespace-nowrap px-2 md:px-3 py-4">{{ $row.amount }} {{ $row.currency }}</td>
                    </tr>
                {{- end }}
            </thead>
        </table>
    </article>
{{ end }}
