{% extends "_layout.html.jinja" %}

{% block head %}
    <link rel="stylesheet" href="/styles/table.css">
{% endblock %}

{% block title %}/movies/{% endblock %}

{% block content %}
    <table>
    {%- for entry in entries|sort(attribute="date",reverse=True) %}
        <tr>
            <td>
                <time datetime="{{ entry.date }}">{{ entry.date }}</time>
            </td>
            <td>
                <img width="70px" src="{{ entry.title_slug }}.jpg.70x0@2x.webp"
            </td>
            <td>
                <a href="{{ entry.href }}">{{ entry.title }}</a> 
            </td>
            <td>
                {%- if entry.is_liked %}❤️{% endif %}
            </td>
        </tr>
    {%- endfor %}
    </table>
{% endblock %}
