{% extends "_layout.html.jinja" %}

{% block head %}
    <link rel="stylesheet" href="{{ "/styles/grid.css" | static_with_hash }}">
{% endblock %}

{% block title %}/movies/{% endblock %}

{% block content %}
    <ul>
    {%- for entry in entries|sort(attribute="date",reverse=True) %}
        <li>
            <a href="{{ entry.href }}">
                <figure>
                    <img width="200" src="{{ entry.title_slug }}.jpg.200x0@2x.webp" loading="lazy" alt="Poster of {{ entry.title }} movie" />
                    <figcaption>
                        <p style="text-align: center;">{{ entry.title }}{%- if entry.is_liked %} | ❤️{% endif %}</p>
                    </figcaption>
                </figure>
            </a>
        </li>
    {%- endfor %}
    </ul>
{% endblock %}
