{% extends "_layout.html.jinja" %}

{% block title %}/records/{% endblock %}

{% block content %}
    <ul>
    {%- for record in records|sort(attribute="date_added",reverse=True) %}
        <li>
            <a href="https://www.discogs.com/release/{{ record.id }}">
                <figure>
                    <img width="200px" src="{{ record.basic_information.title | slugify }}.jpeg.200x0@2x.webp" loading="lazy" alt="Cover of {{ record.basic_information.title }} album" />
                    <figcaption>
                        <center>
                            <span>
                                {{ record.basic_information.title }}
                            </span>
                            <br />
                            <span>
                                {{ record.basic_information.artists[0].name }}
                            </span>
                        </center>
                    </figcaption>
                </figure>
            </a>
        </li>
    {%- endfor %}
    </ul>
{% endblock %}
