{% extends "_layout.html.jinja" %}

{% block head %}
    <link rel="stylesheet" href="{{ "/styles/grid.css" | static_with_hash }}">
{% endblock %}

{% block title %}/cocktails/{% endblock %}

{% block content %}
    <ul>
    {%- for cocktail in cocktails|sort(attribute="metadata.map.title") %}
        <li>
            <a href="{{ cocktail.metadata.map.title | slugify }}.html">
                <figure>
                    <img 
                        src="{{ cocktail.metadata.map.title | slugify }}.jpeg.200x0@2x.webp" 
                        width="200px" 
                        loading="lazy" 
                        alt="Picture of {{ cocktail.metadata.map.title }} cocktail" 
                    />
                    <figcaption><center>{{ cocktail.metadata.map.title }}</center></figcaption>
                </figure>
            </a>
        </li>
    {%- endfor %}
    </ul>
{% endblock %}
