@media (prefers-color-scheme: dark) {
    html {
        scrollbar-color: #6c6c6c #2e2e2e;
    }

    body {
        color: #fbf1c7; /* fg0 */
        background: #282828; /* bg0 */
    }

    header#banner a {
        color: #fbf1c7; /* fg0 */
    }

    header#banner nav ul li a {
        color: #d5c4a1; /* fg2 */
    }

    main#content a {
        color: #83a598; /* light blue */
    }

    main#content p {
        color: #ebdbb2; /* fg1 */
    }

    main#content hr {
        background: #5c5c5c;
    }

    main#content ul#posts small {
        color: #a89984; /* gray*/
    }

    main#content ul#posts li a:hover {
        color: #458588; /* blue */
    }

    main#content header#post-header div {
        color: #a89984; /* gray*/
    }
}
