html {
    scrollbar-color: #6c6c6c #2e2e2e;
}

body {
    color: #282828; /* fg0 */
    background: #fbf1c7; /* bg0 */
}

header#banner a {
    color: #282828; /* fg0 */
}

header#banner nav ul li a {
    color: #504945; /* fg2 */
}

main#content a {
    color: #076678; /* light blue */
}

main#content p {
    color: #3c3836; /* fg1 */
}

main#content hr {
    background: #d8d8d8;
}

main#content ul#posts small {
    color: #7c6f64; /* gray*/
}

main#content ul#posts li a:hover {
    color: #458588; /* blue */
}

main#content header#post-header div {
    color: #7c6f64; /* gray*/
}
