{{ define "main" }}
    <article class="text-lg pt-6 pb-12 px-5 md:px-0 md:mx-20 md:pt-12">
        <h1 class="mb-1 text-4xl font-bold">{{ .Title }}</h1>
        <div class="mb-8">
            <time datatime="{{ .Date }}">{{ .Date.Format "January 1, 2006" }}</time>
        </div>

        <style>
            article p {
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }

            article blockquote {
                color: var(--color-foreground-4);

                font-style: italic;
                border-left: 3px solid;

                margin-left: 2px;
                margin-right: 6px;
                padding-left: 16px;
            }

            article pre {
                overflow-x: scroll;
                font-size: 0.87em;
            }

            article h1 {
                font-size: 1.5em;
                line-height: 1.4em;
            }

            article h2 {
                font-size: 1.43em;
            }

            article h3 {
                font-size: 1.25em;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }

            article h1,
            article h2,
            article h3 {
                font-weight: bold;
                display: block;
                margin-block-start: 0.83em;
                margin-block-end: 0.83em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }

            article ul {
                display: block;
                list-style-type: circle;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;
            }

            article a {
                display: inline-block;
                color: var(--color-blue);
                position: relative;
                font-weight: 500;
                text-decoration: none;
            }
        </style>

        {{ .Content }}
    </article>
{{ end }}

{{- define "footer" }}
    {{- partial "footer.html" . -}}
{{ end -}}
