html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: "Berkeley Mono", monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  max-width: 72ch;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-x: scroll;
}

a {
	color: inherit;
	text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

time {
  text-wrap: nowrap;
}
