<footer id="footer">
    <style>
        a {
            color: inherit;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
    {{- $posts := where .Site.RegularPages "Type" "posts" -}}
    {{- $firstPost := index (sort $posts ".Date" "asc") 0 -}}
	&copy; {{ $firstPost.Date.Format "2006"}}...{{ now.Format "2006" }}
    <a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a>
    &#183; <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="noopener">CC BY-NC 4.0</a>
</footer>
