<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; img-src 'self' https://*.basemaps.cartocdn.com">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="stylesheet" href="/fonts/index.css">
    <link rel="stylesheet" href="/index.css">

    {%- block head %}
    {%- endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <main>
        <article>
            <header>
                <h1>{{ self.title() }}</h1>
            </header>
            {%- block content %}
            {%- endblock %}
        </article>
    </main>

    <footer>
        <hr />
        <a href="/privacy.html">privacy policy</a>
        <span>·</span>
        <a href="https://github.com/ngalaiko/galaiko.rocks">source</a>
    </footer>
</body>

</html>
