<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | static_with_hash }}" />
    <link rel="icon" sizes="32x32" href="{{ "/favicon-32x32.png" | static_with_hash }}" />
    <link rel="icon" sizes="16x16" href="{{ "/favicon-16x16.png" | static_with_hash }}" />
    <link rel="manifest" href="{{ "/site.webmanifest" | static_with_hash }}" />

    <link rel="stylesheet" href="{{ "/fonts/index.css" | static_with_hash }}">
    <link rel="stylesheet" href="{{ "/index.css" | static_with_hash }}">

    {%- block head %}
    {%- endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <main>
        <article>
            <header>
                <h1>{{ self.title() }}</h1>
            </header>
            {%- block content %}
            {%- endblock %}
        </article>
    </main>

    <footer>
        <hr />
        <a href="/privacy.html">privacy policy</a>
        <span>·</span>
        <a href="https://github.com/ngalaiko/galaiko.rocks">source</a>
        <span>·</span>
        <a href="/stats.html">stats</a>
    </footer>
</body>

</html>
