<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="color-scheme" content="light dark">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | static_with_hash }}" />
    <link rel="icon" sizes="32x32" href="{{ "/favicon-32x32.png" | static_with_hash }}" />
    <link rel="icon" sizes="16x16" href="{{ "/favicon-16x16.png" | static_with_hash }}" />
    <link rel="manifest" href="{{ "/site.webmanifest" | static_with_hash }}" />

    <link rel="stylesheet" href="{{ "/fonts/index.css" | static_with_hash }}">
    <link rel="stylesheet" href="{{ "/index.css" | static_with_hash }}">

	<link rel="me" href="https://mastodon.online/@ngalaiko">

    {%- block head %}
    {%- endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
	{%- block content %}
	{%- endblock %}
	<pre>
                   <a href="/privacy.html">privacy policy</a> · <a href="https://github.com/ngalaiko/galaiko.rocks">source</a> · <a href="/stats.html">stats</a></pre>

</body>

</html>
