@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
	html {
		--background-hard: #f9f5d7;
		--background: #fbf1c7;
		--background-soft: #f2e5bc;
		--background-1: #ebdbb2;
		--background-2: #d5c4a1;
		--background-3: #bdae93;
		--background-4: #a89984;

		--foreground: #282828;
		--foreground-1: #3c3836;
		--foreground-2: #504945;
		--foreground-3: #665c54;
		--foreground-4: #7c6f64;

		--red: #9d0006;
		--green: #79740e;
		--yellow: #b57614;
		--blue: #076678;
		--purple: #8f3f71;
		--aqua: #427b58;
		--orange: #af3a03;
		--gray: #928374;

		--red-dim: #cc2412;
		--green-dim: #98971a;
		--yellow-dim: #d79921;
		--blue-dim: #458598;
		--purple-dim: #b16286;
		--aqua-dim: #689d6a;
		--orange-dim: #d65d0e;
		--gray-dim: #7c6f64;
	}

	@media (prefers-color-scheme: dark) {
		html {
			--background-hard: #1d2021;
			--background: #282828;
			--background-soft: #32302f;
			--background-1: #3c3836;
			--background-2: #504945;
			--background-3: #665c54;
			--background-4: #7c6f64;

			--foreground: #fbf1c7;
			--foreground-1: #ebdbb2;
			--foreground-2: #d5c4a1;
			--foreground-3: #bdae93;
			--foreground-4: #a89984;

			--red: #fb4934;
			--green: #b8bb26;
			--yellow: #fabd2f;
			--blue: #83a598;
			--purple: #d3869b;
			--aqua: #8ec07c;
			--gray: #928374;
			--orange: #fe8019;

			--red-dim: #cc2412;
			--green-dim: #98971a;
			--yellow-dim: #d79921;
			--blue-dim: #458588;
			--purple-dim: #b16286;
			--aqua-dim: #689d6a;
			--gray-dim: #a89984;
			--orange-dim: #d65d0e;
		}
	}
}

@layer components {
	.e-content p {
		display: block;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}

	.e-content blockquote {
		color: var(--color-foreground-4);

		font-style: italic;
		border-left: 3px solid;

		margin-left: 2px;
		margin-right: 6px;
		padding-left: 16px;
	}

	.e-content pre {
		overflow-x: scroll;
		font-size: 0.87em;
	}

	.e-content h1 {
		font-size: 1.5em;
		line-height: 1.4em;
	}

	.e-content h2 {
		font-size: 1.43em;
	}

	.e-content h3 {
		font-size: 1.25em;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}

	.e-content h1,
	.e-content h2,
	.e-content h3 {
		font-weight: bold;
		display: block;
		margin-block-start: 0.83em;
		margin-block-end: 0.83em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}

	.e-content ul {
		display: block;
		list-style-type: circle;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 40px;
	}

	.e-content a {
		display: inline-block;
		color: var(--color-blue);
		position: relative;
		font-weight: 500;
		text-decoration: none;
	}

	.e-content h1 a,
	.e-content h2 a,
	.e-content h3 a,
	.e-content h4 a,
	.e-content h5 a,
	.e-content h6 a {
		color: inherit;
	}
}
