{% extends "_layout.html.jinja" %}

{% block head %}
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; img-src 'self' https://*.basemaps.cartocdn.com">

    <link rel="stylesheet" href="/styles/table.css">
    <link rel="stylesheet" href="/styles/map.css">
{% endblock %}

{% block title %}/places/{% endblock %}

{% block content %}
    <div id="map" hidden="true"></div>

    <table>
    {%- for place in places|sort(attribute="times",reverse=True) %}
        <tr
            class="place"
            data-name="{{ place.name }}"
            data-latitude="{{ place.location[0] }}"
            data-longtitude="{{ place.location[1] }}"
            data-visits="{{ place.times }}"
            data-amount="{{ place.spent }}"
            data-currency="SEK"
        >
            <td>
                {{ place.name }}
            </td>
            <td>
                {{ place.times }}
            </td>
            <td>
                {{ place.spent }} SEK
            </td>
        </tr>
    {%- endfor %}
    </table>

    <script src="/scripts/map.js"></script>
{% endblock %}
